<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBz09aKlZ8cQpp5xuO3j6kRPb_-S9J-fuI</string>
	<key>GCM_SENDER_ID</key>
	<string>809453709751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uberproject-82287</string>
	<key>STORAGE_BUCKET</key>
	<string>uberproject-82287.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809453709751:ios:89103a8b23515c8cc9e032</string>
</dict>
</plist>